<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5">
  <servlet>
    <servlet-name>HelloAppEngine</servlet-name>
    <servlet-class>servlet.HelloAppEngine</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HelloAppEngine</servlet-name>
    <url-pattern>/hello</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  
    <servlet>
    <servlet-name>calculator</servlet-name>
    <servlet-class>servlet.Calculadora</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>calculator</servlet-name>
    <url-pattern>/calculator</url-pattern>
  </servlet-mapping>
  
      <servlet>
    <servlet-name>factorial</servlet-name>
    <servlet-class>servlet.Factorial</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>factorial</servlet-name>
    <url-pattern>/factorial</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>testServlet</servlet-name>
    <servlet-class>servlet.Calculadora</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>testServlet</servlet-name>
    <url-pattern>/testServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>getAdmins</servlet-name>
    <servlet-class>servlet.GetAdmins</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getAdmins</servlet-name>
    <url-pattern>/getAdmins</url-pattern>
  </servlet-mapping>
  
  
</web-app>